In [5]:
def hi():
    print("hello students")
    print("vijay " *5)
hi()

hello students
vijay vijay vijay vijay vijay

In [9]:
#functions with parameters
def add(a,b):
    return a+b
s1=int(input("enter the money:"))
s2=int(input("enter the money:"))
total=add(s1,s2)
print("total amount:", total)

enter the money: 100
enter the money: 50

total amount: 150

In [11]:
def add(s1,s2):
    print("total:", s1+s2)
s1=int(input("enter the money:"))
s2=int(input("enter the money:"))
add(s1,s2)

enter the money: 345
enter the money: 987

total: 1332

In [19]:
def value():
    return 3.14159
result=value()
print("value in the function is", result)

value in the function is 3.14159

In [23]:
def get_name():
    name=input("enter the name:")
    return name
username=get_name()
print("welcome",username)

enter the name: Murali

welcome Murali

In [29]:
a=100
def value(a):
    return a+20
op=value(a)
print(op)

120

In [33]:
def hi(name='guest'):
    print("hello",name)
a=input("enter data:")
hi()
hi(a)

enter data: murali

hello guest
hello murali

In [43]:
def info(name='unknown',age='0'):
    print("name:",name)
    print("age:",age)
info("murali",20)
info("murali")
info(age=20)

name: murali
age: 20
name: murali
age: 0
name: unknown
age: 20

In [ ]:
def cal(a,b):
    return a+b,a-b,a*b,a/b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum=cal(a,b)
print("sum=",sum)
print("subtract=",diff)
print("product=",pro)
print("divide=",div)