In [5]:
def hi():
    print("hello students")
    print("vijay " *5)
hi()

hello students
vijay vijay vijay vijay vijay

In [9]:
#functions with parameters
def add(a,b):
    return a+b
s1=int(input("enter the money:"))
s2=int(input("enter the money:"))
total=add(s1,s2)
print("total amount:", total)

enter the money: 100
enter the money: 50

total amount: 150

In [11]:
def add(s1,s2):
    print("total:", s1+s2)
s1=int(input("enter the money:"))
s2=int(input("enter the money:"))
add(s1,s2)

enter the money: 345
enter the money: 987

total: 1332

In [19]:
def value():
    return 3.14159
result=value()
print("value in the function is", result)

value in the function is 3.14159

In [23]:
def get_name():
    name=input("enter the name:")
    return name
username=get_name()
print("welcome",username)

enter the name: Murali

welcome Murali

In [29]:
a=100
def value(a):
    return a+20
op=value(a)
print(op)

120

In [33]:
def hi(name='guest'):
    print("hello",name)
a=input("enter data:")
hi()
hi(a)

enter data: murali

hello guest
hello murali

In [43]:
def info(name='unknown',age='0'):
    print("name:",name)
    print("age:",age)
info("murali",20)
info("murali")
info(age=20)

name: murali
age: 20
name: murali
age: 0
name: unknown
age: 20

In [51]:
def cal(a,b):
    return a+b,a-b,a*b,a/b
a=int(input("enter a:"))
b=int(input("enter b:"))
sum,diff,pro,div=cal(a,b)
print("sum=",sum)
print("subtract=",diff)
print("product=",pro)
print("divide=",div)

enter a: 30
enter b: 68

sum= 98
subtract= -38
product= 2040
divide= 0.4411764705882353

In [65]:
def max_min(a,b,c):
    return max(a,b,c),min(a,b,c)

a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
maxi,mini=max_min(a,b,c)
print("maximun",maxi)
print("manimum",mini)

enter a: 2
enter b: 3
enter c: 4

maximun 4
manimum 2

In [79]:
def eo(numbers):
    e=0
    o=0
    for n in numbers:
        if n % 2==0:
            e+=1
        else:
            o+=1
    return e,o
num=input("enter the numbers as space seperated:")
num_list= list(map(int,num.split()))
e, o= eo(num_list)
print("even count:", e)
print("odd count", o)

enter the numbers as space seperated: 23 44 66 30 55 66 99

even count: 4
odd count 3

In [81]:
add=lambda a,b: a+b
print("sum:",add(7,8))

sum: 15

In [83]:
is_even = lambda n: n%2==0
print("is 6 even?",is_even(6))

is 6 even? True

In [85]:
nums= [1,2,3,4,5,6,7,8,9,10]
sq=list(map(lambda n:

NameError: name 'listy' is not defined