In [13]:
num=int(input("enter the number:"))
temp=num
n=len(str(num))
sum=0
while temp>0:
    digit=temp%10
    sum+=digit**n
    temp//=10
print("latest value ofsum:",sum)
print("latst value of temp:",temp)
if sum==num:
      print(num,"is armstrong number")
else:
      print(num,"is not armstrong number")

enter the number: 22

latest value ofsum: 8
latst value of temp: 0
22 is not armstrong number

In [17]:
num=int(input("enter the number:"))
temp=num
sum=0
while temp>0:
    digit=temp%10
    sum+=digit**n
    temp//=10
print("latest value ofsum:",sum)
print("latst value of temp:",temp)
if num%sum==0:
      print(num,"is nivens number")
else:
      print(num,"is not a nivens number")

enter the number: 153

latest value ofsum: 35
latst value of temp: 0
153 is not a nivens number

In [31]:
for i in range(1,11,3):
    print(i,end=" ")

1 4 7 10

In [44]:
word=input("enter a word:")
for ch in word:
    print(ch)

enter a word: chandra

c
h
a
n
d
r
a

In [48]:
for i in range(1,11):
    print(f"square of (i) is {i*i}")

square of (i) is 1
square of (i) is 4
square of (i) is 9
square of (i) is 16
square of (i) is 25
square of (i) is 36
square of (i) is 49
square of (i) is 64
square of (i) is 81
square of (i) is 100

In [52]:
for i in "India   won":
    print(i,end=" ")

I n d i a       w o n

In [60]:
#factioral program
n=int(input("enter number"))
fact=1
for i in range (1,n+1):
    fact*=i
print(fact)

enter number 4

24

In [64]:
n=int(input("enter the size:"))
for i in range(n):
    for j in range(n):
        print("*",end=' ')
    print()

enter the size: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *